:root {
  --dark-color: hsla(0, 1%, 22%, 1);
  --light-color: hsla(0, 0%, 100%, 1);
  --primary-color: hsl(20, 45%, 47%);
  --secondary-color: hsl(26, 84%, 73%);
  --dot-size: 80px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: var(--dark-color);
}

main {
  width: 100%;
  max-width: 1320px;
  min-height: 200vh;
  margin: 0 auto;
  padding: 80px 20px;
}

.hero {
  position: relative;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  gap: 32px;
  min-height: 60vh;
  &__title {
    position: absolute;
    bottom: 0;
    font-size: 224px;
    font-weight: 600;
    line-height: 1;
  }
  &__intro {
    padding: 128px 0 40px 108px;
  }
  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    clip-path: inset(5% 0 5% 0);
  }
}

.intro {
  &__text {
    font-size: 19px;
    line-height: 27.55px;
  }
}

.button {
  position: relative;
  padding: 12px 24px;
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 4px 8px 0px hsla(0, 0%, 0%, 0.03);
  color: var(--light-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  &__text {
    position: relative;
    z-index: 1;
  }
  &__cursor {
    position: absolute;
    height: var(--dot-size);
    width: var(--dot-size);
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--secondary-color);
    mask-image: radial-gradient(ellipse at 50% 50%, black 0%, transparent 70%);
    transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.2s ease-in-out;
    opacity: 0.2;
  }
  &:hover .button__cursor {
    opacity: 0.8;
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.placeholder {
  padding: 184px 0;
  &__box {
    width: 100%;
    height: 744px;
    background: hsla(0, 0%, 85%, 1);
    border-radius: 8px;
  }
}
